<h1><%= @deck.name %></h1>
<nav>
  <ul>
    <li class="nav"><a href="/decks/<%= @deck.id %>/edit">edit</a></li>
    <li class="nav"><a href="/decks/<%= @deck.id %>/delete">delete</a></li>
    <li class="nav"><a href="/decks">back</a></li>
  </ul>
</nav>

<div class="card-list">
  <ol>
    <% @cards.each do |card| %>
      <li><a href="/decks/<%= @deck.id %>/cards/<%= card.id %>"><%= card.question %></a></li>
    <% end %>
  </ol>
</div>
