<h1>Edit me, bitch!</h1>

<h2><%= @deck.name %></h2>

<ul>
  <% @cards.each do |card| %>
  <form action="/decks/<%= @deck.id %>/cards/<%= card.id %>" method="post">
    <input name="_method" type="hidden" value="delete" />
    <input type="image" src="/imgs/deleteIcon.png" height="20" border="0" class="delete" alt="Submit" />
  </form>
    <li class="edit">
      <a href="/decks/<%= @deck.id %>/cards/<%= card.id %>">
        <%= card.question %>
      </a>
    </li>

  <% end %>
</ul>

