<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-0">
<h1><%= @message %></h1>
<h2><%= @completed_message %></h2>
<%= @all_cards[@card_iterator].question %>

  <form action="/play/decks/<%= @deck.id %>/cards/<%= @card_iterator %>" method="post">
  <div class="radio">
    <input type="radio" name="selected" value="correct_answer"><%= @all_cards[@card_iterator].correct_answer %>
  </div>
  <div class="radio">
    <input type="radio" name="selected" value="incorrect_answer1"><%= @all_cards[@card_iterator].incorrect_answer1 %>
  </div>
  <div class="radio">
    <input type="radio" name="selected" value="incorrect_answer2"><%= @all_cards[@card_iterator].incorrect_answer2 %>
  </div>
  <div class="radio">
    <input type="radio" name="selected" value="incorrect_answer3"><%= @all_cards[@card_iterator].incorrect_answer3 %>
  </div>
    <div class="radio">
    <input type="submit" value="Final answer!" class="btn btn-primary"/>
  </form>

</div>
</div>

</div>
