<div class="container">
<h1><%= @message %></h1>
<h2><%= @completed_message %></h2>
<%= @all_cards[@card_iterator].question %>

<form action="/play/decks/<%= @deck.id %>/cards/<%= @card_iterator %>" method="post">
  <input type="radio" name="selected" value="correct_answer"><%= @all_cards[@card_iterator].correct_answer %>
  <br>
  <input type="radio" name="selected" value="incorrect_answer1"><%= @all_cards[@card_iterator].incorrect_answer1 %>
  <br>
  <input type="radio" name="selected" value="incorrect_answer2"><%= @all_cards[@card_iterator].incorrect_answer2 %>
  <br>
  <input type="radio" name="selected" value="incorrect_answer3"><%= @all_cards[@card_iterator].incorrect_answer3 %>
  <br>
  <input type="submit" value="Final answer!"/>
</form>
</div>
