  <h1>Individual Card</h1>
      <p><b>Question:<%= @individual_card.question %></b></p>
      <p>Answer1: <%= @individual_card.incorrect_answer1 %></p>
      <p>Answer2: <%= @individual_card.incorrect_answer2 %></p>
      <p>Answer3: <%= @individual_card.incorrect_answer3 %></p>
      <p>Answer4: <%= @individual_card.correct_answer %></p>

      <a href =

